/* ----------------------------------ALL---------------------------------- */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    height: 100vh;
}

ul {
    list-style-type: none;
}

/* ----------------------------------HEADERS---------------------------------- */

.header {
    background-image: url(../assets/new_images/01\ SWEET\ MORNING.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    overflow: hidden;
    height: 65rem;
    position: relative;
}

.header h1, h2 {
    color: antiquewhite;
    text-align: center;
}

.header__title, .header__subtitle {
	background-color: #000000b8;
}

.header__title {
	letter-spacing: 5px;
    font-size: 2.3rem;
    width: 25rem;
    margin: 18rem 0 5rem 3rem;
    border-radius: 120px;
    padding: 3rem;
    border: solid #FFCA0A 8px
}

.header__subtitle {
    color: antiquewhite;
    width: 21rem;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 3px;
    margin: 5.5rem auto;
    position: absolute;
    bottom: 350px;
    right: 15px;
}

#musica {
    color: #FFCA0A;
}

.logo {
    display: flex;
}

.logo__img {
    width: 11rem;
    position: absolute;
    border-radius: 18px;
    top: 1rem;
    right: 1rem;
}

/* ----------------------------------ARTICLES---------------------------------- */

.article0, .article, .article2, .article3, .article_studio, .article5 {
    height: calc(100vh + 10rem);
	background-size: cover;
    background-attachment: fixed;
	overflow: hidden;
}

.article0 {
    background-image: url(../assets/new_images/16\ BIRTH\ OF\ FLOWERS.jpg);
}

.article {
    background-image: url(../assets/new_images/VICTORIOUS\ K\ V1.jpg);
    background-position-y: top;
}

.article2 {
    background-image: url(../assets/new_images/20\ come\ back\ earth.jpg);
    background-position-y: center;
}

.article3 {
    background-image: url(../assets/new_images/19\ \ 2\ sunny\ rain\ man.jpg);
    background-position-y: center;
}

.article4 {
    background-image: url(../assets/image5.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    min-height: 55rem;
}

.article5 {
    background-image: url(../assets/new_images/confiance.jpg);
    position: relative; 
}

.article_studio {
    background-image: url(../assets/new_images/20210815_223906_redim.jpg);
    background-position-y: center;
}

.article__title {
    color: #FFCA0A;
    font-size: 4rem;
    height: 12rem;
    text-align: center;
    padding: 0 2rem;
    margin-top: 3rem;
}

.article__text {
    color: antiquewhite;
    text-align: justify;
    padding: 0 2rem;
    font-size: 1.3rem;
    margin: 1.5rem;
}

.article__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #000000b8;
}

#img-container {
    display: flex;
    gap: 10px;
}

#img-container img {
    height: 20rem;
    border-radius: 10px;
}

.studio_picture {
    transition: transform 0.2s, filter 0.3s ease-in-out;
}

.img-container:hover img {
    transform: scale(1.2);
  }

.image {
    margin-bottom: -4rem;
}

.right {
    margin-left: 50%;
    position: relative;
}

.article4 .article__content {
    height: 55rem;
}

/* ----------------------------------AUDIO---------------------------------- */

audio {
    display: block;
    width: 25rem;
    height: 4rem;
    margin: 0.5rem 0;
}

.audio__title {
    color: #FFCA0A;
    margin-bottom: -0.5rem;
    text-align: center;
}

.audio__content {
    margin-top: 2rem;
}

.audio1, .audio2 {
    margin: 1rem 0;
}

.audio3, .audio4 {
    margin: 3rem 0;
}

ul.article__text {
    position: absolute;
    left: 0;
    top: 420px;
}

/* ----------------------------------CONTACT ET FORM---------------------------------- */

.contact {
    margin-top: -5rem;
}

.form{
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 40%;
    right: 40px;
    height: 20rem;
    bottom: 28rem;
}

form {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content {
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
  }
  
  .close:hover {
    color: #333;
  }

textarea {
    resize: none;
}

label {
    display: block;
    margin-bottom: 8px;
    color: antiquewhite;
}

input, textarea {
    width: 80%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: inherit;
    width: 80%;
}

button:hover {
    background-color: #45a049;
}

/* ----------------------------------SOCIAL MEDIA---------------------------------- */

.social-media li {
    background-color: antiquewhite;
    text-decoration: none;
    border-radius: 10px;
    height: 4rem;
    width: 4rem;
    transition: 0.1s ease-in-out;
}

.social-media li:hover {
    transform: scale(1.1);
}

.social-media {
    display: flex;
    margin-top: 16rem;
    gap: 3.5rem;
    position: absolute;
    bottom: 10%;
    flex-wrap: wrap;
}

.social-media #youtube {
    height: 4rem;
}

.social-media-strong {
    color: #FFCA0A;
}

#linkedin-link a {
    color: antiquewhite;
    text-decoration: none;
}

.article__text li {
    margin: 1rem 0;
}

.full {
    width: 100%;
    background-color: #000000b8;
}

.wayden-ul {
    width: 80%;
}

.wayden-li {
    display: flex;
    gap: 5rem;
}

.wayden, .sources {
    color: antiquewhite;
    text-align: center;
    margin-bottom: 0.5rem;
}

#wayden, #sources {
    height: 12rem;
    border-radius: 12px;
}

.wayden-card, .lessources-card {
    border: 2px solid rgba(250, 235, 215, 0.529);
    border-radius: 12px;
    padding: 15px;
}

.link {
    text-decoration: none;
    color: antiquewhite;
    transition: 0.2s ease-in-out;
}

.link:hover {
    transform: scale(1.05);
}

/* ----------------------------------MENTIONS LEGALES---------------------------------- */

.legal-notices {
    text-decoration: none;
    color: antiquewhite;
}

.legal-notices-page {
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
}

.legal-notices:hover {
    background-color: #ddd;
    color: black;
}

.legal-notices-list {
    list-style-type: none;
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.legal-notices-list li {
    margin: 0.5rem 0;
}

.legal {
    margin: 1rem 0;
    height: 5rem;
}

.util {
    height: 14rem;
}

.long {
    height: 100vh;
    overflow-y: scroll;
}

.notice {
    height: 150rem;
}


/* ----------------------------------NAVBAR DYNAMIQUE---------------------------------- */

.navbar-burger {
    display: none;
    height: 15px;
}

.navbar {
    z-index: 1000;
    background-color: #333;
    overflow: hidden;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
  }

/* ----------------------------------COMPOSITIONS---------------------------------- */

.compos {
    background-image: url(../assets/new_images/VICTORIOUS\ K\ V1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: center;
    overflow: scroll;
}

.video__title {
    color: white;
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

.video__container {
	margin-bottom: 2rem;
}

.video {
    width: 42rem;
    height: 20rem;
}

.article__content__compos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #000000b8;
  overflow-x: visible;
}

.article__text__compos {
	color: antiquewhite;
    text-align: center;
    padding: 0 2rem;
    font-size: 1.3rem;
    margin: 1.5rem;
}

  /* UTILISER FLOAT: NONE pour LA RESPONSIVE EN MOBILE */

footer {
    background-color: #000000b8;
}

.footer__ul {
    display: flex;
    justify-content: space-around;
  }

.footer__li {
    color: antiquewhite;
}  


/* ----------------------------------RESPONSIVE---------------------------------- */


@media screen and (max-height: 800px) and (max-width: 480px) {
    .header__subtitle {
      bottom: 20px;
    }
}

@media screen and (max-width: 700px) {

	.video__container {
		max-width: 75%;
	}

	.video {
		width: 100%;
	}

    .header {
      background: url(../assets/new_images/01\ SWEET\ MORNING.jpg) fixed;
      height: 100vh;
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
    }

    .header__title{
        width: 20rem;
        font-size: 2rem;
        margin: 1rem auto 1rem auto;
    }

    .header__subtitle {
        width: 20rem;
        font-size: 1.2rem;
        margin: 2rem 3rem 0 3rem;
        width: auto;
        bottom: 20px;
        right: 0;
    }

    .logo__img {
      width: 10rem;
      top: 55%;
      right: calc(50% - 80px);
    }

    .navbar a {
        padding: 14px 8px;
        font-size: 0.5rem;
    }

    .article0, .article, .article2, .article3, .article4, .article_studio {
        background-size: cover;
        background-position-x: center;
    }

    .article__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .article__content {
        width: 100%; 
      }

    .right {
        margin-left: 0;
        position: inherit;
    }  

    .logo__img, .img-container img {
        max-width: 100%;
        height: auto;
    }

    .article0, .article, .article2, .article3, .article_studio, .article5 {
        height: calc(100vh + 32rem);
    }

    .article4 .article__content {
      height: 70rem;
  }

    audio {
        width: 15rem;
    }

    .article__text {
        padding: 0 1.2rem;
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .navbar-burger {
        z-index: 1000;
        background-color: #333;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        margin-top: 1rem;
        margin-left: 75%;
        width: 3rem;
        height: 2rem;
        border-radius: 15px;
    }

    #burger {
        height: 16px;
        padding-top: 19%;
    }

    .burger {
        display: block;
    }

    .navbar-burger span {
        color: antiquewhite;
    }

    .article__text.contact {
        position: inherit;
        margin-top: 1rem;
        width: 18rem;
        overflow: auto;
    }

    .form {
        width: 100%;
        position: inherit;

    }

    form {
      padding: 0;
    }

    .form form input, textarea, label {
      width: 50%;
      margin-left: 25%;
    }

    button {
      position: inherit;
      width: 50%;
      margin-left: 25%;
    }

    .social-media {
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: -6rem auto;
        justify-content: center;

    }

    #sources {
        height: 7rem;
    }

    #wayden {
        height: 10rem;
    }

    .wayden-li {
        flex-wrap: wrap;
        justify-content: center;
    }

    .lessources-card img {
        height: 8rem;
    }

    .legal1 {
        margin-bottom: 3rem;
    }

    .legal6 {
        margin-top: 4rem;
    }

    .legal-notices-page {
        height: 215rem;
    }

  }

  @media screen and (max-width: 800px) { 

    .header__title {
        width: 18rem;
        font-size: 1.3rem;
    }

    .article__text.contact li {
      display: none;
    }

  }

  @media screen and (max-width: 480px) and (max-height: 900px) {
    .article0, .article, .article2, .article3, .article_studio, .article5 {
      height: 100%;
    }
  }

  @media screen and (max-height: 700px) {
    .article0 {
        min-height: 55rem;
    }
  
    .article {
        min-height: 45rem;
    }

    .article_studio {
        min-height: 55rem;
    }

    .article3 {
        min-height: 55rem;
    }

    .article4 {
        min-height: 50rem;
    }
  }

  @media screen and (max-width: 350px) {
    .article0 {
      height: 100%;
    }
  }

  @media screen and (max-height: 800px) and (max-width: 400px) {
    .article3 {
      height: 100%;
    }
}


/* classe pour afficher la navbar en vue mobile */
.show-burger {
    display: inherit;
}