* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    height: 100vh;
}

.header {
    background-image: url(../assets/background_intro.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 65rem;
    position: relative;
}

.header h1, h2 {
    color: antiquewhite;
    text-align: center;
}

.header__title, .header__subtitle {
    letter-spacing: 5px;
}

.header__title {
    font-size: 3rem;
    width: 40rem;
    margin: 3rem auto;
    background-color: #000000b8;
    border-radius: 10px;
    padding: 3rem;
    border: solid #FFCA0A 3px;
}

.header__subtitle {
    color: antiquewhite;
    width: 23rem;
    background-color: #000000b8;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 3px;
    margin: 5.5rem auto;
    position: absolute;
    bottom: 350px;
    right: 15px;
}

#musica {
    color: #FFCA0A;
}

.logo {
    display: flex;
}

.logo__img {
    width: 11rem;
    margin: 15rem 1rem;
    border-radius: 18px;
}

.article0, .article, .article2, .article3, .article4, .article_studio, .article5 {
    height: calc(100vh + 10rem);
}

.article_studio {
    background-image: url(../assets/background_studio.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#img-container {
    display: flex;
    gap: 10px;
}

#img-container img {
    height: 20rem;
    border-radius: 10px;
}

.studio_picture {
    transition: transform 0.2s, filter 0.3s ease-in-out;
}

.img-container:hover img {
    transform: scale(1.2);
  }

.article0 {
    background-image: url(../assets/background-crop.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

}

.article {
    background-image: url(../assets/image2.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.image {
    margin-bottom: -4rem;
}

.article__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #000000b8;

}

.article__title {
    color: #FFCA0A;
    font-size: 4rem;
    height: 12rem;
    text-align: center;
    padding: 0 2rem;
    margin-top: 3rem;
}

.article__text {
    color: antiquewhite;
    text-align: justify;
    padding: 0 2rem;
    font-size: 1.3rem;
    margin: 1.5rem;
}

.article2 {
    background-image: url(../assets/image3.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.right {
    margin-left: 50%;
    position: relative;
}

.article3 {
    background-image: url(../assets/image4.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.article4 {
    background-image: url(../assets/image5.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

.article5 {
    background-image: url(../assets/Leonardo_Diffusion_XL_a_deer_with_headphones_in_front_of_a_mix_2\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative; 
}

.contact {
    margin-top: -5rem;
}

.form{
    margin-top: 24rem;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 40%;
    right: 40px;
    height: 20rem;
    bottom: 28rem;
}

form {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

textarea {
    resize: none;
}

label {
    display: block;
    margin-bottom: 8px;
    color: antiquewhite;
}

input, textarea {
    width: 80%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 100px;
    bottom: -75px;
}

button:hover {
    background-color: #45a049;
}

audio {
    display: block;
    width: 25rem;
    height: 4rem;
    margin: 0.5rem 0;
}

.audio__title {
    color: #FFCA0A;
    margin-bottom: -0.5rem;
    text-align: center;
}

.audio__content {
    margin-top: 2rem;
}

.audio1, .audio2 {
    margin: 1rem 0;
}

.audio3, .audio4 {
    margin: 3rem 0;
}

ul {
    list-style-type: none;
}

ul.article__text {
    position: absolute;
    left: 0;
    top: 420px;
}

.social-media li {
    background-color: antiquewhite;
    text-decoration: none;
    border-radius: 10px;
    height: 4rem;
    width: 4rem;
    transition: 0.1s ease-in-out;
}

.social-media li:hover {
    transform: scale(1.1);
}

.social-media {
    display: flex;
    margin-top: 16rem;
    gap: 3.5rem;
    position: absolute;
    bottom: 10%;
}

.social-media #youtube {
    height: 4rem;
}

.social-media-strong {
    color: #FFCA0A;
}

#linkedin-link a {
    color: antiquewhite;
    text-decoration: none;
}

.article__text li {
    margin: 1rem 0;
}

.full {
    width: 100%;
    background-color: #000000b8;
}

.wayden-ul {
    width: 80%;
}

.wayden-li {
    display: flex;
    gap: 5rem;
}

.wayden, .sources {
    color: antiquewhite;
    text-align: center;
    margin-bottom: 0.5rem;
}

#wayden, #sources {
    height: 12rem;
    border-radius: 12px;
}

.wayden-card, .lessources-card {
    border: 2px solid rgba(250, 235, 215, 0.529);
    border-radius: 12px;
    padding: 15px;
}

.link {
    text-decoration: none;
    color: antiquewhite;
    transition: 0.2s ease-in-out;
}

.link:hover {
    transform: scale(1.05);
}

/* 
NAVBAR DYNAMIQUE  */

.navbar-burger {
    display: none;
    height: 15px;
}

.navbar {
    z-index: 1000;
    background-color: #333;
    overflow: hidden;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.navbar.hidden {
    top: -100px;
}

.navbar a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* UTILISER FLOAT: NONE pour LA RESPONSIVE EN MOBILE */

footer {
    background-color: #000000b8;
}

.footer__ul {
    display: flex;
    justify-content: space-around;
  }

.footer__li {
    color: antiquewhite;
}  

/* SLIDER */

*,*:before,*:after{box-sizing:border-box}

.diapo_auto_rwd{
	
position:relative;
max-width:305px;
margin:2rem auto;
overflow:hidden;
border-radius:.75rem;
	
	}

.diapo_auto_rwd input[type=radio]{
	
	position: absolute;
	left: -99999px
	
	}

.diapo_auto_rwd label{
	
	cursor:pointer
	
	}

.diapo_auto_rwd ul {
	
display:flex;	
margin: 0;
padding: 0;
list-style-type: none;

		
		}

.diapo_auto_rwd ul li {
	
flex:0 0 100%;
transition: transform .4s;
background-color: white	
	}


.diapo_auto_rwd ul li img{

width:100%;
height:100%;
object-fit: cover
	
	}
	
/*slide images*/

#slide1:checked ~ ul li,
#pause1:checked ~ ul li {

transform: translatex(0)
	
	}

#slide2:checked ~ ul li,
#pause2:checked ~ ul li {

transform: translatex(-100%)
	
	}

#slide3:checked ~ ul li,
#pause3:checked ~ ul li{

transform: translatex(-200%)
	
	}


/*defilement automatique des photos lorsqu'on clique sur le bouton play*/
#lance-diapo:checked ~ ul li {

animation: slide-diapo 12.3s infinite
	
	}

/*animation css3 defilement automatique des photos*/


@keyframes slide-diapo {
	
0%,25%{
	
	transform: translatex(0%)
	
	}
	
33%,58%{
	
	transform: translatex(-100%)
	
	}
	
66%,91%{
	
	transform: translatex(-200%)
	
	}
	
	}

.diapo_auto_rwd img,
.precedent,
.suivant,
.lancement_arret {
	
user-select: none;
	
	}

#lance-diapo:checked ~ ul .slide_diapo,
.pause_diapo:checked ~ ul .slide_diapo,
.pause_diapo:checked ~ .precedent label,
.pause_diapo:checked ~ .suivant label,
.slide_diapo:checked ~ .precedent label,
.slide_diapo:checked ~ .suivant label{

transition:none
	
	}
/*navigation fleches droite et gauche*/
.precedent,
.suivant {display: flex;
align-items: center;
justify-content: center;
height:50px;
width:50px;	
position: absolute;
top: 50%;
transform: translate3d(0,-50%,0);
z-index: 1
	
	}

.precedent label,
.suivant label {
	
position: absolute;
opacity: 0;
z-index: -1;
height: 20px;
width: 20px;
border-width: 5px 5px 0 0;
border-style: solid;
border-color: #f2f2f2;
		
	}
	
.precedent {left: 1rem}
	
.suivant {right:1rem}

.precedent label{
	

transform: rotate(-135deg);
	
	}
	
.suivant label{
	
 
transform: rotate(45deg);
	
	}




#slide1:checked ~ .precedent .image3,
#pause1:checked ~ .precedent .image3,
#slide1:checked ~ .suivant .image2,
#pause1:checked ~ .suivant .image2, 
#slide2:checked ~ .precedent .image1,
#pause2:checked ~ .precedent .image1,
#slide2:checked ~ .suivant .image3,
#pause2:checked ~ .suivant .image3, 
#slide3:checked ~ .precedent .image2,
#pause3:checked ~ .precedent .image2,
#slide3:checked ~ .suivant .image1,
#pause3:checked ~ .suivant .image1 {
	
	opacity: 1;
	z-index: 1
	
	}




#lance-diapo:checked ~ .precedent .image3,
#lance-diapo:checked ~ .suivant .image2 {

animation: fleche_diapo 12.3s infinite -1s
	
	}

#lance-diapo:checked ~ .precedent .image1,
#lance-diapo:checked ~ .suivant .image3 {

animation: fleche_diapo 12.3s infinite 3.1s
	
	}
  
  
#lance-diapo:checked ~ .precedent .image2,
#lance-diapo:checked ~ .suivant .image1 {

animation: fleche_diapo 12.3s infinite 7.2s
	
	}


	
	
	

/*Play-Pause*/
.lancement_arret,
.lancement_arret label{

position: absolute
	
	}

.lancement_arret {
	
top: 50%;
left: 50%;
z-index: 2

}

.lancement_arret label {
	
transform: translate3d(-50%,-50%,0)
	}

.lance_diapo::after{

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 485 485' style='enable-background:new 0 0 485 485' xml:space='preserve'%3E%3Cg fill='%23fff'%3E%3Cpath d='M413.974 71.026C368.171 25.225 307.274 0 242.5 0S116.829 25.225 71.026 71.026C25.225 116.829 0 177.726 0 242.5s25.225 125.671 71.026 171.474C116.829 459.775 177.726 485 242.5 485s125.671-25.225 171.474-71.026C459.775 368.171 485 307.274 485 242.5s-25.225-125.671-71.026-171.474zM242.5 455C125.327 455 30 359.673 30 242.5S125.327 30 242.5 30 455 125.327 455 242.5 359.673 455 242.5 455z'/%3E%3Cpath d='M181.062 336.575 343.938 242.5l-162.876-94.075z'/%3E%3C/g%3E%3C/svg%3E%0A");
content: ''	
	}
	
.pause_diapo:after{
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg fill='%23fff'%3E%3Cpath d='M256,0C114.842,0,0,114.842,0,256s114.842,256,256,256s256-114.842,256-256S397.158,0,256,0z M256,465.455 c-115.493,0-209.455-93.961-209.455-209.455S140.507,46.545,256,46.545S465.455,140.507,465.455,256S371.493,465.455,256,465.455z '/%3E%3Cpath d='M318.061,139.636c-12.853,0-23.273,10.42-23.273,23.273v186.182c0,12.853,10.42,23.273,23.273,23.273 c12.853,0,23.273-10.42,23.273-23.273V162.909C341.333,150.056,330.913,139.636,318.061,139.636z'/%3E%3Cpath d='M193.939,139.636c-12.853,0-23.273,10.42-23.273,23.273v186.182c0,12.853,10.42,23.273,23.273,23.273 c12.853,0,23.273-10.42,23.273-23.273V162.909C217.212,150.056,206.792,139.636,193.939,139.636z'/%3E%3C/g%3E%3C/svg%3E%0A");
content:""
	
	}

.lancement_arret label::after{
height:50px;
width:50px;
	
		}



#lance-diapo:checked ~ .lancement_arret .pause_diapo,
.slide_diapo:checked ~ .lancement_arret .lance_diapo,
.pause_diapo:checked ~ .lancement_arret .lance_diapo {
	
display: flex;
z-index: 1
	
	}

#lance-diapo:checked ~ .lancement_arret .lance_diapo,
.slide_diapo:checked ~ .lancement_arret .pause_diapo,
.pause_diapo:checked ~ .lancement_arret .pause_diapo {
	

z-index: -1
	
	}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image1,
#lance-diapo:checked ~ .lancement_arret .pause_diapo.image2,
#lance-diapo:checked ~ .lancement_arret .pause_diapo.image3{
	
opacity: 0;
z-index: -1
	
	} 



#lance-diapo:checked ~ .lancement_arret .pause_diapo.image1 {

animation: fleche_diapo 12.3s infinite -1s
	
	}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image2 {

animation: fleche_diapo 12.3s infinite 3.1s
	
	}

#lance-diapo:checked ~ .lancement_arret .pause_diapo.image3 {

animation: fleche_diapo 12.3s infinite 7.2s
	
	}

@keyframes fleche_diapo {
	
0%,33.33%{
	
opacity: 1;
z-index: 0
	
	}
	
33.34%,100%{
	
opacity: 0;
z-index: -1
	
	}
	
	}	
	


/* RESPONSIVE  */

  @media screen and (max-width: 700px) {

    .header {
        background: url(../assets/background_redim.png) cover;
        height: 100vh
    }

    .header__title{
        width: 20rem;
        font-size: 2rem;
    }

    .header__subtitle {
        width: 20rem;
        font-size: 1.2rem;
        margin: 2rem 3rem 0 3rem;
        width: auto;
        bottom: 80px;
        right: 0;
    }

    .logo__img {
        margin: -2rem auto 0 auto;
        width: 15rem;
    }

    .navbar a {
        padding: 14px 8px;
        font-size: 0.5rem;
    }

    .article {
        background-size: cover;
    }

    .article__title {
        font-size: 2.5rem;
    }

    .article__content {
        width: 100%; 
      }

    .right {
        margin-left: 0;
        position: inherit;
    }  

    .logo__img, .img-container img {
        max-width: 100%;
        height: auto;
    }

    .article0, .article, .article2, .article3, .article4, .article_studio, .article5 {
        height: calc(100vh + 32rem);
    }

    .audio1, .audio2 {
        max-width: 60%;
    }

    audio {
        width: 15rem;
    }

    .article__text {
        padding: 0 1.2rem;
        text-align: center
    }

    .navbar {
        display: none;
    }

    .navbar-burger {
        z-index: 1000;
        background-color: #333;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        margin-left: 75%;
        width: 3rem;
        height: 2rem;
        border-radius: 15px;
    }

    #burger {
        height: 16px;
        padding-top: 19%;
    }

    .navbar-burger span {
        color: antiquewhite;
    }

    .article__text.contact {
        position: inherit;
        margin-top: 1rem;
        width: 18rem;
        overflow: auto;
    }

    .form {
        bottom: 26rem;
        right: calc(50%-160px);
        width: 70%;
    }

    button {
        right: 67px;
    }

    .social-media {
        flex-wrap: wrap;
        gap: 2.5rem;
        width: 80%;
        margin: 0 auto;
        justify-content: center;

    }

    #sources {
        height: 7rem;
    }

    #wayden {
        height: 10rem;
    }

    .wayden-li {
        flex-wrap: wrap;
        justify-content: center;
    }

    .lessources-card img {
        height: 8rem;
    }


  }

/* classe pour afficher la navbar en vue mobile */
.show-burger {
    display: inherit;
}